<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>اطلاعات کاربری</title>
    <link
      href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="styles/dashboard.css" />
    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/register.css" />
  </head>
  <body class="dashboard-body">
    <header>
      <a href="homepage.html"
        ><img
          src="img/لوگوی پروژه.png"
          alt="لوگوی پروژه"
          class="dashboard-logo"
      /></a>
    </header>
    <div class="dashboard-page">
      <div class="site-funcs">
        <ul class="dashboard-funcs">
          <li><a href="#" class="dashboard-funcs-list">اطلاعات کاربری</a></li>
          <li>
            <a href="#" class="dashboard-funcs-list">نمایش لیست کاربران</a>
          </li>
          <li>
            <a href="#" class="dashboard-funcs-list">نمایش لیست کتاب‌ها</a>
          </li>
          <li><a href="#" class="dashboard-funcs-list">قرض گرفتن کتاب</a></li>
          <li>
            <a href="#" class="dashboard-funcs-list">ارتقای رتبه‌ی کاربر</a>
          </li>
          <li>
            <a href="#" class="dashboard-funcs-list">تنزل رتبه‌ی کاربر</a>
          </li>
          <li><a href="#" class="dashboard-funcs-list">خروج از حساب</a></li>
        </ul>
      </div>
      <div class="func-responses">
        <form action="">
          <label for="username">نام کاربری</label>
          <input type="text" name="" id="username" />
        </form>
      </div>
    </div>
  </body>
</html>
