<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>پروژه کتابخانه</title>
  <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet"
    type="text/css" />
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body class="homepage-body">
  <!-- NOTE: Homepage -->
  <div class="two-col-grid">
    <!-- NOTE: وارد شدن به سایت -->
    <header class="header">
      <div class="registration">
        <ul class="list">
          <li>
            <a class="links" href="/api/users/login"><button class="btn register">وارد شوید</button></a>
          </li>
          <!-- <li>
              <a class="links" href="#"
                ><button class="btn sign-in">ورود</button></a
              >
            </li> -->
        </ul>
      </div>
      <!-- NOTE: داشبورد اصلی سایت -->
      <div class="main-dashboard">
        <nav class="main-nav">
          <ul class="list">
            <li><a href="/api/users/me" class="links nav-links">اطلاعات</a></li>
            <li><a href="/api/books" class="links nav-links">لیست کتاب‌ها</a></li>
          </ul>
        </nav>
        <a href="#"><img src="/images/لوگوی پروژه.png" alt="لوگوی پروژه" class="logo" /></a>
      </div>
    </header>

    <!-- NOTE: اطلاعات پروژه -->
    <div class="page-info">
      <h1 class="project-title">پروژه‌ای برای مدیریت یک کتابخانه فرضی</h1>
      <p class="project-info">
        این پروژه برای مدیریت یک کتابخانه فرضی ایجاد شده است و پی‌گیری
        کتاب‌های اجاره داده شده، تاریخ برگرداندن کتاب‌های قرض گرفته شده و
        مشاهده لیست کتاب‌های موجود در کتابخانه در آن امکان‌پذیر است و بسیاری
        دیگر از امکاناتی را که کار یک کتابدار را راحتتر می‌کند به او عرضه
        می‌دارد.
      </p>
    </div>

    <!-- TODO: هنوز ایده‌ای درمورد این بخش ندارم -->
    <div></div>
  </div>
</body>

</html>